<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/sweetalert.css">
    <script src="/stylesheets/sweetalert.min.js"></script>
  </head>
  <body>
    <header>
      <h1> - Try a new research</h1>
    </header>
    <div class="container">
      <div class="main-content">
        <p>
          The requested player was not found
          You'll be automaticely redirected in few seconds...
        </p>
        <script>swal({   title: "Error!",   text: "Here's my error message!",   type: "error",   confirmButtonText: "Cool" });</script>
      </div>
    </div>
    <footer>
      <p>Running on node with Express, Jade and Stylus</p>
    </footer>
  </body>
</html>
